.top-bar
  %ul.title-area
    %li.name
      %h1=link_to('Gameweb', root_path)
  %section.top-bar-section
    %ul.right
      -if current_user
        %li.active=link_to('Admin', categories_path)
        %li.divider
        %li.active=link_to('Edit comment', edit_comment_path(@comment))
        %li=link_to('Log out', destroy_user_session_path, :method => :delete)
        %li=link_to('Edit user', edit_user_registration_path)
      - else
        %li=link_to('Log in', new_user_session_path)
        %li=link_to('Sign up', new_user_registration_path)
%p#notice= notice

.row
  .large-9.columns
    %p=@comment.created_at
    %p=@comment.content
    %hr
  %aside.large-3.columns
    %h5=@comment.game.name
    %h5=@comment.user.email
