.top-bar
  %ul.title-area
    %li.name
      %h1=link_to('Gameweb', root_path)
  %section.top-bar-section
    %ul.right
      - if current_user
        - if current_user.admin?
          %li=link_to('Admin', categories_path)
        %li=link_to('Log out', destroy_user_session_path, :method => :delete)
        %li=link_to('Edit user', edit_user_registration_path)
      - else
        %li=link_to('Log in', new_user_session_path)
        %li=link_to('Sign up', new_user_registration_path)

.row
  .large-9.columns
    %article
      %h2 Categories
      - @categories.each do |category|
        %ul.pricing-table
          %li.title=link_to(category.name, category)
          -category.games.each do |game|
            %li.bullet-item=link_to game.name, game

  %aside.large-3.columns
    .panel
