.top-bar
  %ul.title-area
    %li.name
      %h1=link_to('Gameweb', root_path)
  %section.top-bar-section
    %ul.right
      -if current_user
        %li.active=link_to('New category', new_category_path)
        %li.active=link_to('Games', games_path)
        %li.active=link_to('Comments', comments_path)
        %li.active=link_to('Users', users_path)
        %li.divider
        %li=link_to('Log out', destroy_user_session_path, :method => :delete)
        %li=link_to('Edit user', edit_user_registration_path)
      - else
        %li=link_to('Log in', new_user_session_path)
        %li=link_to('Sign up', new_user_registration_path)
%p#notice= notice

.row
  .large-9.large-center.columns
    %h2 All categories
.row
  .large-9.large-center.columns
    %table
      - @categories.each do |category|
        %tr
          %td=link_to category.name, category
          %td=link_to 'Edit', edit_category_path(category)
          %td=link_to 'Delete', category, :method => :delete, :data => {:confirm => 'Are you sure?'}
